<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

    <meta charset="UTF-8">
    <title>Shopr</title>

</head>
<body>

<div th:insert="fragments/head :: navbar"></div>

<!--<div th:each="user : ${allUsers}" th:if="user.getLoggedIn == true">-->

<div class="row">
    <div class="classcontainer col-md-8 offset-2 " style="margin-top: 80px">
        <table class="table">
            <thead class="thread-dark">
            <tr>
                <th data-field="id" style="text-align:center">Type</th>
                <th data-field="id" style="text-align:center">Title</th>
                <th data-field="title" style="text-align:center">Price ($)</th>

            </tr>
            <tr th:each="article : ${allArticles}">

                <td th:text="${article.getType()}" style="text-align:center"></td>
                <td th:text="${article.getTitle()}" style="text-align:center"></td>
                <td th:text="${article.getPrice()}" style="text-align:center"></td>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!--</div>    -->
<div th:insert="fragments/head :: footer"></div>
</body>
</html>